<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_352ShippingLabelMaker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <_352ShippingLabelMaker.My.MySettings>
            <setting name="SparePrinterName" serializeAs="String">
                <value>DJ LH</value>
            </setting>
            <setting name="homeFolder" serializeAs="String">
                <value>R:\Maintenance\352ShippingLabelMaker</value>
            </setting>
            <setting name="csvFile" serializeAs="String">
                <value>\CSV\352VWmaster.csv</value>
            </setting>
            <setting name="labelType" serializeAs="String">
                <value>VWINTERNAL</value>
            </setting>
            <setting name="partStyle" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="cellName" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="logFile" serializeAs="String">
                <value>R:\VWDataCollection</value>
            </setting>
        </_352ShippingLabelMaker.My.MySettings>
    </userSettings>
</configuration>
